/**
    Use Less
 */


.band:hover
{
    opacity: 0.5;
}

/*.band.border{*/
    /*stroke-width: 4px;*/
    /*stroke: black;*/
    /*fill-opacity: 0.0;*/
/*}*/

.band {
    stroke: rgba(117, 117, 117, 0.56);
    stroke: 0.2;
}
.stalkMask {
    stroke: #ffffff;
    stroke-width: 1px;
}

.stalkMask:hover {
    opacity: 1;
}

.stalkMask, .top {
    stroke-width: 8px;
}
.acen {
    fill:#708090;
}

.gneg {
    fill: #ffffff;
}

.gneg:hover {
    fill: #d9d9d9;
}

.gpos., .gpos100, .tip  {
    fill: #000000;
}

.gpos25 {
    fill: #d9d9d9;
}

.gpos33 {
    fill: #bfbfbf;
}

.gpos50 {
    fill:#999999;
}

.gpos66 {
    fill: #7f7f7f;
}

.gpos75 {
    fill: #666666;
}

.gvar {
    fill: #e0e0e0;
}

.mark {
    fill: #0000ff;
}

.stalk {
    fill: #708090;
}

/**
*
*/

.bp-axis text {
    font: 10px sans-serif;
}

.bp-axis path,
.bp-axis line {
    fill: none;
    stroke: #666666;
    shape-rendering: crispEdges;
}
