(function() {
  var cyto_chr = {}, d3 = window.d3;

  if (typeof module !== 'undefined' && module.exports) {
    module.exports = cyto_chr;
    d3 = require('d3');
  } else if(typeof angular !== 'undefined') {} else {
    window.cyto_chr = cyto_chr;
  }
  <%= contents %>
}());